{% extends "default.twig" %}

{% block title %}users | {{ parent() }}{% endblock %}

{% block head_meta %}
{% endblock %}

{% block head_css %}
{% endblock %}

{% block head_js %}
{% endblock %}

{% block content %}
    <div class="uk-section">
        <div class="uk-container">
            <h1>slim-db</h1>

            <table class="uk-table">
                <caption>user</caption>
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <th>id</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th>name</th>
                        <td>{{ user.name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}