<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}slim-basic{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block head_meta %}{% endblock %}

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
    {% block head_css %}{% endblock %}

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
    {% block head_js %}{% endblock %}
</head>

<body>
{% block content %}{% endblock %}
</body>
</html>